<div class="container">
  <p class="pull-right" *ngIf="user.email">Hi {{user.first_name + ' ' + user.last_name}} | <a href="#" (click)="logout()">Logout</a></p>
  <div class="alert alert-danger" *ngIf="errorMessage">{{errorMessage}}</div>
  <form (ngSubmit)="onSubmit(quoteForm)" [formGroup]="quoteForm" novalidate>
    <div class="form-group row">
      <label for="example-text-input" class="col-2 col-form-label">Name</label>
      <div class="col-10">
        <input class="form-control" formControlName="name" type="text" id="name">
        <span
          class="error"
          *ngIf="quoteForm.get('name').hasError('required') && quoteForm.get('name').touched">
          This field is required!
        </span>
      </div>
    </div>
    <div class="form-group row">
      <label for="example-text-input" class="col-2 col-form-label">Quote</label>
      <div class="col-10">
        
        <input formControlName="quote" class="form-control" type="text" id="quote">
        <span
          class="error"
          *ngIf="quoteForm.get('quote').hasError('required') && quoteForm.get('quote').touched">
          This field is required!
        </span>
      </div>
    </div>
    <div class="form-group row">
      <div class="">
       <button [disabled]="quoteForm.invalid" type="submit" class="btn btn-primary">Add Quote</button>
      </div>
    </div>
  </form>
  <p></p>
  <div class="row" *ngFor="let quote of quotes">
    <div class="card card-block">
      <h4 class="card-title">{{ quote.name }}</h4>
      <p class="card-text">{{quote.quote}}</p>
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>
</div>
